{% extends 'base.html.twig' %}

{% block body %}
    <p>{{ monday }} - {{ sunday }} Vaasan p채ivyst채v채 apteekki on:</p>
    <h1>{{ storeName }}</h1>

    <p class="external-links">
        <a href="https://www.vaasa.fi/paivystavat-apteekit">Apteekkien p채ivystys- ja yhteystiedot</a>
    </p>
{% endblock %}